$basecolor: #253237;
$logincolor: #f2f3f4;
$loginformcolor: #d1d1d1;
$createaccountcolor: #325161;
$shieldbook-font: GlacialIndifferenceRegular;

body {
    display: flex;
    background-color: $basecolor;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    #background {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        #login-session {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: $logincolor;
            min-height: 500px;
            width: 300px;
            margin-left: 20px;
            padding: 50px 40px 50px 40px;
            box-shadow: 2px 2px 10px 0px rgb(17, 17, 17);
            #shieldbook-logo {
                width: 150px;
            }
            #login-form {
                background-color: $loginformcolor;
                height: 250px;
                width: 330px;
            }
            #create-account {
                text-decoration: none;
                color: $loginformcolor;
                :link {
                    color: $loginformcolor;
                }
                :visited {
                    color: $loginformcolor;
                }
                :active {
                    color: $loginformcolor;
                }
                #create-account-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $createaccountcolor;
                    height: auto;
                    width: 100px;
                    border-radius: 5px;
                    padding: 10px;
                    font-family: $shieldbook-font;
                    text-align: center;
                }
            }
        }
        #right-session {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 600px;
            width: 900px;
            margin-right: 20px;
            #current-title {
                color: white;
                font-family: $shieldbook-font;
                font-size: 30px;
                text-transform: uppercase;
                margin-top: 30px;
            }
            #carousel-session {
                display: flex;
                align-items: center;
                justify-content: center;
                height: auto;
                width: 100%;
                #carousel-screen {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: auto;
                    width: 100%;
                    #carousel-screen-images {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: auto;
                        width: 100%;
                        .carousel-field {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;
                            .carousel-title {
                                display: none;
                            }
                            .carousel-image {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                margin-top: 10px;
                                img {
                                    box-shadow: 2px 2px 3px 0px rgb(17, 17, 17);
                                }
                            }
                        }
                    }
                    .carousel-screen-arrows {
                        display: flex;
                        height: 20px;
                        width: 20px;
                        position: relative;
                    }
                    #left-arrow {
                        transform: rotate(180deg);
                        left: 30px;
                    }
                    #right-arrow {
                        right: 30px;
                    }
                }
                #carousel-repo {
                    .carousel-field {
                        display: none;
                    }
                }
            }
            #social-session {
                display: flex;
                align-items: center;
                justify-content: end;
                height: 100px;
                width: 100%;
                img {
                    display: flex;
                    height: 50px;
                    width: 50px;
                    margin:10px;
                }
            }
        }
    }
}
