$basecolor: #253237;
$logincolor: #f2f3f4;
$loginformcolor: #d1d1d1;
$createaccountcolor: #325161;
$shieldbook-font: GlacialIndifferenceRegular;

body {
    display: flex;
    background-color: $basecolor;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    #background {
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        #login-session {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: $logincolor;
            min-height: 500px;
            width: 300px;
            margin-left: 20px;
            padding: 50px 40px 50px 40px;
            box-shadow: 2px 2px 10px 0px rgb(17, 17, 17);
            #shieldbook-logo {
                width: 150px;   
            }
            #login-form {
                background-color: $loginformcolor;
                height: 250px;
                width: 330px;
            }
            #create-account {
                text-decoration: none;
                color: $loginformcolor;
                :link {
                    color: $loginformcolor;
                }
                :visited {
                    color: $loginformcolor;
                }
                :active {
                    color: $loginformcolor;
                }
                #create-account-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $createaccountcolor;
                    height: auto;
                    width: 100px;
                    border-radius: 5px;
                    padding: 10px;
                    font-family: $shieldbook-font;
                    text-align: center;
                }
            }
        }
    }
}
