{% load staticfiles %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta name="keywords" content="rpg, master, shield, shieldbook, create">
        <meta name="description" content="A WEB system for creating, editing and sharing virtual master shields">
        <meta name="robots" content="index,follow">
        <meta http-equiv="content-language" content="pt-br">
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"> 
    </head>
    <body>
        <div id="background">
            <div id="login-session">
                <img id="shieldbook-logo" src="{% static 'img/logos/shieldbook_logo.png' %}">
                <span id="login-form">

                </span>
                <a id="create-account" href="">
                    <span id="create-account-button">CRIAR UMA NOVA CONTA</span>
                </a>
            </div>
            <div id="right-session">
                <div id="carousel-session">
                    {% if login_images %}
                        {%for login_image in login_images%}
                            <span class="carousel-image">
                                <span> {{login_image.title}} </span>
                                <span> <img src="/media/{{login_image.image}}"> </span>
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="social-session">
                    <img src="{% static 'img/icons/facebook-logo.png'%}">
                    <img src="{% static 'img/icons/github-logo.png'%}">
                </div>
            </div>
        </div>
    </body>
</html>